body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
table{
    text-align: center;
}
td{
    height: 500px;
    width: 400px;
   
}
a{
    text-decoration: none;
    color: black;
}
td:hover{
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}